.card1 {
  cursor: pointer;
  margin: 20px 8px;
  padding: 0px;
  /* border: 2px solid #29ff00; */
  border-radius: 10px;
  transition-duration: 0.5s;
}

.card1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

.ads-img {
  background: rgb(61, 59, 59);
}

.card-title {
  padding: 10px;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}
.titleBar {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #29ff00;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
  padding-top: 10px ;
  
  /* border */
}

.card-title {
  text-align: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  border: 1px solid black;
}