.products {
    /* background: rgb(43, 43, 43); */
    background-image: url("../Assets/back-ground.jpeg");
    /* border: 1px solid white; */
    /* height: 100%; */
    background-size: 100%;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* margin: 5px 5px; */
}
.product{
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
}

/* title {
    color: white;
} */