


.main {
    margin-top: 5px;
    /* text-align: center;
    justify-content: center; */
    background-image: url("../Assets/ultrafiltration\ plant.jpg");
    background-size: cover; 
    /* margin: 10px 0; */
    height: 400px;  
    /* width: 100%; */
    
}

ProductCard > title {
    color: black;
}

 h1 {
    color: white;
    padding-top: 50px;  
    
}

.productss {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.whychoose > h1 {
    
}